<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"></a>
    <img src="https://th.bing.com/th/id/OIP.9it56Lwd1yfOFMyLQGp0UgHaF_?w=226&h=182&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-black" aria-current="page" routerLink="/">Home</a>
        <a class="nav-link text-black" routerLink="apply">Apply Now</a>
        <a class="nav-link text-black" routerLink="admin">Admin </a>
        
        <a class="nav-link text-black" routerLink="home/register">Login</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="about">About Us</a></li>
            <li><a class="dropdown-item" routerLink="contact">Contact Us</a></li>
            <li><a class="dropdown-item" routerLink="service">Services</a></li>
          </ul>
        </li>
               
      </div>
    </div>
  </div>
</nav>